.input {
  width: 430px;
  position: relative;

  .search-icon {
    position: absolute;
    transform: translate(50%, 50%);
    color: #666666;
    z-index: 10;
  }

  input {
    width: 280px;
    border-radius: 0.4rem;
    border: none;
    background-color: #eef3f8;
    padding: 0 0.8rem 0 40px;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    position: relative;

    transition: width 0.3s;

    &:focus {
      width: 380px;
    }
  }
  .suggestions {
    position: absolute;
    list-style: none;
    width: 280px;
    padding: 5px;
    margin: 0;
    z-index: 11;
    transition: width 0.3s;

    &.focus {
      width: 380px;
    }

    li {
      width: 100%;
      background-color: rgb(239, 239, 239);
      padding: 10px 5px 10px 5px;
      cursor: pointer;

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover {
        background-color: rgb(219, 219, 219);
      }
    }
  }
}

@media (max-width: 905px) {
  .input {
    width: min-content;
    .search-icon {
    }

    input {
      width: 230px;
      &:focus {
        width: 230px;
      }
    }
    .suggestions {
      width: 230px;

      &.focus {
        width: 230px;
      }

      li {
        &:last-child {
        }

        &:hover {
        }
      }
    }
  }
}
@media (max-width: 780px) {
  .input {
    display: none;

    .search-icon {
    }

    input {
      &:focus {
      }
    }
    .suggestions {
      width: 230px;

      &.focus {
        width: 230px;
      }

      li {
        &:last-child {
        }

        &:hover {
        }
      }
    }
  }
}
