.left-side-bar {
  grid-area: left-side-bar;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  // border: 1px solid $border;
}

@media (max-width: 700px) {
  .left-side-bar {
    display: none;
  }
}
