.map-page {
  .map-menu {
    font-size: 0.875rem;
    //   position: relative;
    min-height: 100px;
    min-width: 100px;
    top: 0px;
    left: 200px;

    &:hover {
      z-index: 400;
    }

    .location-icon {
      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  .opts-container {
    background-color: white;
    position: absolute;
    top: 45px;
    left: -95px;
    right: -15px;
    border-radius: 5px;
    border: 1px solid;

    .opt {
      padding: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &:hover {
        background-color: rgb(207, 207, 207);
      }
    }
  }
}
