.nav {
  width: 645px;
  display: flex;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    list-style-type: none;

    li {
      height: 100%;
      color: #666666;

      &.current-btn {
        border-bottom: 2px solid;
        color: black;
      }

      &.notifications,
      &.messaging {
        a {
          p {
            position: relative;
            .number {
              position: absolute;
              top: 0;
              right: 25px;
              color: white;
              border-radius: 50%;
              width: 17px;
              height: 17px;
              background-color: rgb(204 16 22);

              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      a {
        text-decoration: none;

        p {
          transition: rotate 0.3s;
          .curr-logo {
            animation-name: scaleinsoft;
            animation-duration: 0.3s;
          }
        }
      }
    }

    p {
      display: flex;
      font-size: 14px;
      min-width: 80px;
      justify-content: center;
      height: 100%;
      align-items: center;
      flex-direction: column;

      &:hover {
        color: #000000e6;
      }

      .nav-icon {
        width: 25px;
        height: 25px;
      }
    }

    .me-btn {
      border-right: 1px solid $border;

      p {
        .profile-icon {
          width: 25px;
          height: 25px;
          background-color: burlywood;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          display: flex;
          align-items: center;
          .down-icon {
            padding-left: 3px;
          }
        }
      }
    }
  }
}

@media (max-width: 945px) {
  .nav {
    ul {
      li {
        &.current-btn {
        }

        a {
        }

        &.volunteering-btn {
          display: none;
        }
        &.post-volunteer-btn {
          display: none;
        }
      }

      p {
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        border-right: unset;
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 905px) {
  .nav {
    width: min-content;
    ul {
      li {
        &.current-btn {
        }

        a {
        }

        &.volunteering-btn {
        }
        &.post-volunteer-btn {
        }
      }

      p {
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .nav {
    ul {
      li {
        &.current-btn {
        }

        a {
        }

        &.volunteering-btn {
          display: none;
        }
        &.post-volunteer-btn {
          display: none;
        }
      }

      p {
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        border-right: unset;
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 545px) {
  .nav {
    ul {
      li {
        &.current-btn {
        }

        &.notifications,
        &.messaging {
          a {
            p {
              .number {
                top: 8px;
                right: 33px;
              }
            }
          }
        }

        &.me-btn {
          a {
            p {
              .txt {
                display: none;
              }
            }
          }
        }

        a {
          p {
            span {
              display: none;
            }
          }
        }

        &.volunteering-btn {
        }
        &.post-volunteer-btn {
        }
      }

      p {
        min-width: 65px;
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .nav {
    ul {
      li {
        &.notifications {
          a {
            p {
              .number {
                height: 17px;
                right: 3px;
                // top: 5px;
              }
            }
          }
        }

        &.notifications,
        &.messaging {
          a {
            p {
              .number {
                right: 27px;
              }
            }
          }
        }

        &.current-btn {
        }

        &.me-btn {
          a {
            p {
              .txt {
                display: none;
              }
            }
          }
        }

        a {
          p {
            span {
              display: none;
            }
          }
        }

        &.volunteering-btn {
        }
        &.post-volunteer-btn {
        }
      }

      p {
        min-width: 50px;
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 290px) {
  .nav {
    ul {
      li {
        &.current-btn {
        }

        &.notifications,
        &.messaging {
          a {
            p {
              .number {
                right: 20px;
              }
            }
          }
        }

        &.me-btn {
          a {
            p {
              .txt {
                display: none;
              }
            }
          }
        }

        a {
          p {
            span {
              display: none;
            }
          }
        }

        &.volunteering-btn {
        }
        &.post-volunteer-btn {
        }
      }

      p {
        min-width: 40px;
        &:hover {
        }

        .nav-icon {
        }
      }

      .me-btn {
        p {
          .profile-icon {
          }

          span {
            .down-icon {
            }
          }
        }
      }
    }
  }
}
