.map-page {
  .post-icon-map {
    // background-color: lightcoral;

    &:hover {
      z-index: 3335;
    }

    .container {
      .logo-post-icon-map-container {
        cursor: pointer;
        .img-logo {
          .img {
            width: 25px;
            height: 25px;
            border: 1px solid;
            transition: width 0.3s, height 0.3s;

            &:hover {
              width: 85px;
              height: 85px;
              z-index: 10330;
            }
          }

          .post-logo {
            svg {
              width: 15px;
              height: 15px;
              transition: width 0.3s, height 0.3s;

              &:hover {
                width: 35px;
                height: 35px;
                z-index: 10330;
              }
            }
          }
        }
      }
    }

    .img-profile-preview {
      position: absolute;
    }
  }
}
