.sort-by {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .divider {
    display: inline-block;
    margin: 15px 0;
    color: $border;
    width: 60%;
  }

  .sort-container {
    display: flex;
    justify-content: center;

    .label {
      display: flex;

      select {
        border: none;
        background-color: unset;
        color: rgb(0, 0, 0);
        color: rgba(0, 0, 0, 0.627);
        cursor: pointer;
      }
      option {
        border: none;
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  color: #00000099;
}
