.thread-msg-list {
  .thread-msg-preview {
    background-color: #ffffff;
    margin: 5px;
    margin: 5px 5px 15px 5px;

    .container-msg {
      display: flex;
      .img-container {
        cursor: pointer;
        .img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .name-time-container {
        display: flex;
        align-items: center;
        margin-left: 7px;
        width: 100%;
        justify-content: space-between;
        .fullname {
          margin-left: 7px;
          p {
          }
        }

        .time {
          margin-left: 7px;
          span {
          }
        }
      }
    }

    .the-msg {
      margin-left: 60px;

      p {
      }
    }
  }
}

@media (max-width: 630px) {
  .thread-msg-list {
    .thread-msg-preview {
      .container-msg {
        margin-bottom: 15px;
        .img-container {
          .img {
          }
        }

        .name-time-container {
          .fullname {
            p {
            }
          }

          .time {
            span {
              font-size: 11px;
            }
          }
        }
      }

      .the-msg {
        p {
        }
      }
    }
  }
}
