.connections-page {
  padding-top: 60px;
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(0, 17fr) minmax(300px, 7fr);
  grid-template-areas: 'main aside';
  column-gap: 2.4rem;
  row-gap: 2.4rem;

  .left {
    grid-area: main;

    .container {
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      .count {
        padding: 1.2rem 20px 0.4rem;
        p {
        }
      }

      .filter-container {
        display: flex;
        justify-content: space-evenly;
        padding: 1.2rem 20px 0.4rem;
        border-bottom: 1px solid $border;

        .search {
          position: relative;

          .search-icon {
            position: absolute;
            transform: translate(50%, 50%);
            color: #666666;
          }

          .connections-input {
            width: 230px;
            border-radius: 5px;
            border: n1px solid $border;
            background-color: #e4e4e498;
            padding: 0 0.8rem 0 40px;
            line-height: 1.75;
            font-weight: 400;
            font-size: 14px;
            height: 34px;

            transition: width 0.3s;

            &:focus {
              // width: 380px;
            }
          }
        }
      }

      .my-connection-list {
      }
    }
  }

  .right {
    grid-area: aside;

    div {
      height: 400px;
      background-color: white;
      border-radius: 10px;
    }
  }
}

@media (max-width: 870px) {
  .connections-page {
    grid-template-columns: minmax(0, 1fr);
    column-gap: 0;
    .left {
      .container {
        .count {
          p {
          }
        }

        .filter-container {
          padding-bottom: 25px;
          .search {
            .search-icon {
            }

            .connections-input {
              &:focus {
              }
            }
          }
        }

        .my-connection-list {
        }
      }
    }

    .right {
      display: none;
      div {
      }
    }
  }
}
